.left{
   display: inline-block;
   width: 300px;
   text-align: right;
   padding: 0 7px 0 0;
 }

.edit{
  margin-left: 50%;
}

.right{
  margin-left: 100%
}

label{
  border: 1px solid #ccc;
  padding: 5px;
}

.case p{
  font-size:14px;
  width: 10em;
  padding:0;
  margin:0;
  font-weight:600;
  color:#a9a9a9;
}
img{
  border-radius:100px;
  width:100px;
  margin-top:15px;
  margin-left:5px;
}

.case h4 {
  font-size:18px;
}

.case {
  box-shadow: 0px 0px 2px 2px #ccc;
}
.contactList{
  padding:50px;
}
